---
---

@import "{{ site.theme }}";


body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  background-color: black;
  }

.page-header{
  color: #d49898;
  text-align: center;
  background-color: #04120b;
  background-image: linear-gradient(120deg, #155799, rgb(1, 15, 21) 22.69%, #159957);
}

.main-content {
  max-width: 72rem;
  padding: 2rem 6rem;
  margin: 0 auto;
  font-size: 1.1rem;
}